<div>
  <h2 id="page-heading" data-cy="BlockuserHeading">
    <span jhiTranslate="spingularApp.blockuser.home.title">Blockusers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="spingularApp.blockuser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-blockuser"
        [routerLink]="['/blockuser/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="spingularApp.blockuser.home.createLabel"> Create a new Blockuser </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="blockusers?.length === 0">
    <span jhiTranslate="spingularApp.blockuser.home.notFound">No blockusers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="blockusers && blockusers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="creationDate">
            <span jhiTranslate="spingularApp.blockuser.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="blockeduser.id">
            <span jhiTranslate="spingularApp.blockuser.blockeduser">Blockeduser</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="blockinguser.id">
            <span jhiTranslate="spingularApp.blockuser.blockinguser">Blockinguser</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cblockeduser.id">
            <span jhiTranslate="spingularApp.blockuser.cblockeduser">Cblockeduser</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cblockinguser.id">
            <span jhiTranslate="spingularApp.blockuser.cblockinguser">Cblockinguser</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blockuser of blockusers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/blockuser', blockuser.id, 'view']">{{ blockuser.id }}</a>
          </td>
          <td>{{ blockuser.creationDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="blockuser.blockeduser">
              <a [routerLink]="['/appuser', blockuser.blockeduser?.id, 'view']">{{ blockuser.blockeduser?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="blockuser.blockinguser">
              <a [routerLink]="['/appuser', blockuser.blockinguser?.id, 'view']">{{ blockuser.blockinguser?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="blockuser.cblockeduser">
              <a [routerLink]="['/community', blockuser.cblockeduser?.id, 'view']">{{ blockuser.cblockeduser?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="blockuser.cblockinguser">
              <a [routerLink]="['/community', blockuser.cblockinguser?.id, 'view']">{{ blockuser.cblockinguser?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/blockuser', blockuser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/blockuser', blockuser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(blockuser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="blockusers && blockusers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
