<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="blog">
      <h2 data-cy="blogDetailsHeading"><span jhiTranslate="spingularApp.blog.detail.title">Blog</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ blog.id }}</span>
        </dd>
        <dt><span jhiTranslate="spingularApp.blog.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ blog.creationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="spingularApp.blog.title">Title</span></dt>
        <dd>
          <span>{{ blog.title }}</span>
        </dd>
        <dt><span jhiTranslate="spingularApp.blog.image">Image</span></dt>
        <dd>
          <div *ngIf="blog.image">
            <a (click)="openFile(blog.image, blog.imageContentType)">
              <img [src]="'data:' + blog.imageContentType + ';base64,' + blog.image" style="max-width: 100%" alt="blog image" />
            </a>
            {{ blog.imageContentType }}, {{ byteSize(blog.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="spingularApp.blog.appuser">Appuser</span></dt>
        <dd>
          <div *ngIf="blog.appuser">
            <a [routerLink]="['/appuser', blog.appuser?.id, 'view']">{{ blog.appuser?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="spingularApp.blog.community">Community</span></dt>
        <dd>
          <div *ngIf="blog.community">
            <a [routerLink]="['/community', blog.community?.id, 'view']">{{ blog.community?.communityName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/blog', blog.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
