<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-blockuser-heading" data-cy="BlockuserCreateUpdateHeading" jhiTranslate="spingularApp.blockuser.home.createOrEditLabel">
        Create or edit a Blockuser
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="spingularApp.blockuser.creationDate" for="field_creationDate"
            >Creation Date</label
          >
          <div class="d-flex">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="datetime-local"
              class="form-control"
              name="creationDate"
              formControlName="creationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="spingularApp.blockuser.blockeduser" for="field_blockeduser">Blockeduser</label>
          <select class="form-control" id="field_blockeduser" data-cy="blockeduser" name="blockeduser" formControlName="blockeduser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="appuserOption.id === editForm.get('blockeduser')!.value?.id ? editForm.get('blockeduser')!.value : appuserOption"
              *ngFor="let appuserOption of appusersSharedCollection; trackBy: trackAppuserById"
            >
              {{ appuserOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="spingularApp.blockuser.blockinguser" for="field_blockinguser">Blockinguser</label>
          <select class="form-control" id="field_blockinguser" data-cy="blockinguser" name="blockinguser" formControlName="blockinguser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="appuserOption.id === editForm.get('blockinguser')!.value?.id ? editForm.get('blockinguser')!.value : appuserOption"
              *ngFor="let appuserOption of appusersSharedCollection; trackBy: trackAppuserById"
            >
              {{ appuserOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="spingularApp.blockuser.cblockeduser" for="field_cblockeduser">Cblockeduser</label>
          <select class="form-control" id="field_cblockeduser" data-cy="cblockeduser" name="cblockeduser" formControlName="cblockeduser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                communityOption.id === editForm.get('cblockeduser')!.value?.id ? editForm.get('cblockeduser')!.value : communityOption
              "
              *ngFor="let communityOption of communitiesSharedCollection; trackBy: trackCommunityById"
            >
              {{ communityOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="spingularApp.blockuser.cblockinguser" for="field_cblockinguser"
            >Cblockinguser</label
          >
          <select
            class="form-control"
            id="field_cblockinguser"
            data-cy="cblockinguser"
            name="cblockinguser"
            formControlName="cblockinguser"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                communityOption.id === editForm.get('cblockinguser')!.value?.id ? editForm.get('cblockinguser')!.value : communityOption
              "
              *ngFor="let communityOption of communitiesSharedCollection; trackBy: trackCommunityById"
            >
              {{ communityOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
