<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="notification">
      <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="spingularApp.notification.detail.title">Notification</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ notification.id }}</span>
        </dd>
        <dt><span jhiTranslate="spingularApp.notification.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ notification.creationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="spingularApp.notification.notificationDate">Notification Date</span></dt>
        <dd>
          <span>{{ notification.notificationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="spingularApp.notification.notificationReason">Notification Reason</span></dt>
        <dd>
          <span jhiTranslate="{{ 'spingularApp.NotificationReason.' + notification.notificationReason }}">{{
            notification.notificationReason
          }}</span>
        </dd>
        <dt><span jhiTranslate="spingularApp.notification.notificationText">Notification Text</span></dt>
        <dd>
          <span>{{ notification.notificationText }}</span>
        </dd>
        <dt><span jhiTranslate="spingularApp.notification.isDelivered">Is Delivered</span></dt>
        <dd>
          <span>{{ notification.isDelivered }}</span>
        </dd>
        <dt><span jhiTranslate="spingularApp.notification.appuser">Appuser</span></dt>
        <dd>
          <div *ngIf="notification.appuser">
            <a [routerLink]="['/appuser', notification.appuser?.id, 'view']">{{ notification.appuser?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
