<div>
  <h2 id="page-heading" data-cy="PostHeading">
    <span jhiTranslate="spingularApp.post.home.title">Posts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="spingularApp.post.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-post"
        [routerLink]="['/post/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="spingularApp.post.home.createLabel"> Create a new Post </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="posts?.length === 0">
    <span jhiTranslate="spingularApp.post.home.notFound">No posts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="posts && posts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="creationDate">
            <span jhiTranslate="spingularApp.post.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="publicationDate">
            <span jhiTranslate="spingularApp.post.publicationDate">Publication Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="headline">
            <span jhiTranslate="spingularApp.post.headline">Headline</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="leadtext">
            <span jhiTranslate="spingularApp.post.leadtext">Leadtext</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bodytext">
            <span jhiTranslate="spingularApp.post.bodytext">Bodytext</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="quote"><span jhiTranslate="spingularApp.post.quote">Quote</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="conclusion">
            <span jhiTranslate="spingularApp.post.conclusion">Conclusion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="linkText">
            <span jhiTranslate="spingularApp.post.linkText">Link Text</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="linkURL">
            <span jhiTranslate="spingularApp.post.linkURL">Link URL</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image"><span jhiTranslate="spingularApp.post.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="appuser.id">
            <span jhiTranslate="spingularApp.post.appuser">Appuser</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="blog.title">
            <span jhiTranslate="spingularApp.post.blog">Blog</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/post', post.id, 'view']">{{ post.id }}</a>
          </td>
          <td>{{ post.creationDate | formatMediumDatetime }}</td>
          <td>{{ post.publicationDate | formatMediumDatetime }}</td>
          <td>{{ post.headline }}</td>
          <td>{{ post.leadtext }}</td>
          <td>{{ post.bodytext }}</td>
          <td>{{ post.quote }}</td>
          <td>{{ post.conclusion }}</td>
          <td>{{ post.linkText }}</td>
          <td>{{ post.linkURL }}</td>
          <td>
            <a *ngIf="post.image" (click)="openFile(post.image, post.imageContentType)">
              <img [src]="'data:' + post.imageContentType + ';base64,' + post.image" style="max-height: 30px" alt="post image" />
            </a>
            <span *ngIf="post.image">{{ post.imageContentType }}, {{ byteSize(post.image) }}</span>
          </td>
          <td>
            <div *ngIf="post.appuser">
              <a [routerLink]="['/appuser', post.appuser?.id, 'view']">{{ post.appuser?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="post.blog">
              <a [routerLink]="['/blog', post.blog?.id, 'view']">{{ post.blog?.title }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/post', post.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(post)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="posts && posts.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
